<head>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<div
  id="contenidoResultados"
  class="flex flex-column p-2 justify-content-center align-items-center"
>
  <div class="flex flex-column p-2 justify-content-center align-items-center">

    <div *ngIf="lista_fav.length > 0">
      <h1>Películas Favoritas de {{ user?.nombre_publico }}</h1>
      <movies-list-page [listadoMovies]="lista_fav"/>
    </div>

    <div *ngIf="lista_fav.length === 0">
      <p>No hay películas favoritas para mostrar.</p>
    </div>

    <br>
    <br>
    
    <button mat-stroked-button color="accent" (click)="goBack()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Volver a usuarios
    </button>
    <br>
    <br>
    <br>
  </div>
</div>