.container {
  margin: 0 auto;
  width: 550px !important; /* Establece el ancho que desees */
  text-align: center;
  padding-top: 10px;
}

.mat-form-field {
  width: 100% !important; /* Ajusta el ancho de los campos de formulario */
  max-width: 550px !important; /* Establece un ancho máximo si lo deseas */
  margin: 0 auto !important; /* Centra horizontalmente los campos de formulario */
}

div.mat-dialog-actions {
  width: 100% !important; /* Ajusta el ancho de las acciones del diálogo */
  max-width: 550px !important; /* Establece un ancho máximo si lo deseas */
  margin: 20px auto !important; /* Centra horizontalmente las acciones del diálogo */
}
