.toolbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.centered {
  flex-grow: 1;
  text-align: center;
}

.flex-grow {
  flex-grow: 1;
}

.highlighted {
  color: #ffffff; /* Cambia el color según tus preferencias */
  background-color: #633144; /* Cambia el color de fondo según tus preferencias */
  padding: 8px 20px; /* Ajusta el espaciado según sea necesario */
  border-radius: 4px; /* Ajusta el radio del borde según sea necesario */
}
