<head>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<div class="container">
  <mat-card>
    <mat-card-content>
      <h2>{{ titulo }}</h2>
      <form [formGroup]="loginForm" (ngSubmit)="acceder()">
        <div class="signin-content">
          <mat-form-field class="full-width-input">
            <input matInput formControlName="username" placeholder="Usuario" />
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input
              matInput
              type="password"
              formControlName="password"
              placeholder="Contraseña"
            />
          </mat-form-field>
        </div>
        <!-- <button type="button" mat-raised-button class="azulVeo" (click)="formularioRecuperacion = !formularioRecuperacion">
            Olvidé mi contraseña
        </button> -->
        <div class="mat-card-actions">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="loginForm.invalid || showSpinner"
            style="font-size: 15px; padding: 25px;"
          >
            Iniciar sesión
          </button>
          <button mat-button (click)="forgotPassword()" style="margin-left: 30px;">
            ¿Olvidaste tu contraseña?
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
