.full-height-container {
  height: 100%;
  display: flex;
  align-items: stretch; /* Para estirar el contenedor */
}

.card-like-content {
  flex: 1 1 auto;
  background-color: rgb(79, 79, 79);
  border-radius: 8px;
  padding: 20px;
  height: 520px;
}

.nombre_publico {
    margin-top: 60px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 66px;
}

.card-like-content > div {
  margin-bottom: 70px; /* Ajusta el valor según el espacio que desees entre cada div */
  margin-left: 50px;
}
