<div class="flex flex-column">
  <span class="text-lg mb-4">Registro</span>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de usuario" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre completo</mat-label>
    <input type="text" matInput placeholder="Nombre" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Password" required>
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    <mat-icon>account_circle</mat-icon>
    Crear cuenta
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">Ya tengo cuenta de usuario</a>
  </div>
</div>
